@{
    ViewBag.Title = "A propos de la Gestion des étudiants";
    ViewBag.Message = "Version 1.0.0";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ce logiciel permet la gestion des étudiants d'un Lycée.</p>
