@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Pour toute demande veuillez nous contacter à l'adresse suivante :";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Société GestEtud<br />
    10 rue de la Paix<br />
    <abbr title="Téléphone">Tél:</abbr>
    01 41 00 40 40
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@GestEtud.com">Support@GestEtud.com</a><br />
    <strong>Client:</strong> <a href="mailto:Marketing@GestEtud.com">Marketing@GestEtud.com</a>
</address>