@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Gestion des étudiants</p>
    <p><a href="http://gestetud.net" class="btn btn-primary btn-lg">Pour plus de détails...</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pour démarrer</h2>
        <p>
            Le logiciel de gestion des étudiants permet de ...
        </p>
        <p><a class="btn btn-default" href=http://microsoft.entelechargement.com/office/office-famille-et-etudiant.html?updmarqueur=22CXX&gclid=CJ--vKmeq8kCFUjmwgod260PGQ">Télécharger le logiciel</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modules complémentaires</h2>
        <p>D'autres modules sont disponibles ici :</p>
        <p><a class="btn btn-default" href="http://www.amazon.fr/dp/B00IUKP5O8/ref=asc_df_B00IUKP5O830276288/?tag=googshopfr-21&creative=22686&creativeASIN=B00IUKP5O8&linkCode=df0&hvdev=c&hvnetw=g&hvqmt=">Autres modules</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prochaines évolutions</h2>
        <p>Des nouveautés sont en cours de réalisation, vous pouvez voir le détail ici :</p>
        <p><a class="btn btn-default" href="http://www.amazon.fr/gp/new-releases/software">Nouveautés</a></p>
    </div>
</div>